body {
  background-color: #e6f4ea; 
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  max-width: 400px;
  margin-top: 50px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.5);
}
.container form {
  max-width: 300px;
  margin: 0 auto;
}

.container input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 5px #28a745;
}

.container .btn {
  width: 100%;
  max-width: 300px;
  margin: 5px auto;
  display: block;
}
.container .btn.btn-primary {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-primary:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-outline-secondary {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-secondary:hover {
  background-color: #28a745;
  color: white;
}

footer {
  background-color: #28a745;
  color: white;
  padding: 10px 0;
  text-align: center;
}
